@import './styles/tailwind.css';

#root {
  /* margin-top: -1%;
  margin-left: -1%;
  margin-right: 0%; */
  padding: 0%;
  width: 100%;
}

.App {
  background-color: #000;
  color: #fff;
  text-align: center;
  /* width: full;
  margin: 0; */
}

html {
  scroll-behavior: smooth;
}